.active {
    color: #9990FF;
    border-bottom: 1px solid #9990FF;
    padding-bottom: 4px;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li::marker {
    color: rgb(156, 163, 175)
}

ul li.active::marker {
    color: #9990FF
}

li {
    margin: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    
}

li.active div {
    color: #9990FF;
}

ul li div {
    color: rgb(156, 163, 175);
}